body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #fafafa;
  line-height: 1.5;
}

.header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

@media all and (max-width: 768px) {
  .header {
    padding: 2em 1em;
    margin-bottom: 0;
  }
}

.left-title,
.right-links {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

.left-title h1 {
  font-weight: bold;
  line-height: 2;
}

.left-title h1 label {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #333;
  padding-bottom: 4px;
  color: #333;
}

.right-links {
  text-align: right;
}

.right-links li {
  display: inline-block;
}

.right-links li label {
  cursor: pointer;
  padding: .5em;
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.right-links li label:hover {
  color: #333;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.container {
  display: table;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container input {
  display: none;
}

.container input:checked + .content {
  display: table;
}

.content {
  width: 100%;
  padding: 0 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -ms-transition: left 1s ease;
  -o-transition: left 1s ease;
  transition: left 1s ease;
}

@media all and (max-width: 768px) {
  .content {
    padding: 0 1em;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-o-keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    top: 50px;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

img {
  max-width: 100%;
}

.frame {
  opacity: 0;
  position: relative;
  margin: 1em 0;
  vertical-align: top;
  width: calc(50% - 1em);
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.frame:nth-of-type(odd) {
  margin-right: 1em;
}

.frame:nth-of-type(even) {
  margin-left: 1em;
}

@media all and (max-width: 768px) {
  .frame {
    width: 100%;
    margin: 0;
  }
}

.frame img {
  width: 100%;
}

.frame.show {
  opacity: 1;
  top: 0;
  -webkit-animation: show 0.8s ease-out;
  -moz-animation: show 0.8s ease-out;
  -o-animation: show 0.8s ease-out;
  animation: show 0.8s ease-out;
}
.caption {
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */