$accent: #bc0000; // ff6d85
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin transform($var) {
  -webkit-transform: $var;
  -moz-transform: $var;
  -ms-transform: $var;
  -o-transform: $var;
  transform: $var;
}

// below from
// joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animations) {
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
body {
  font-family: $font;
  background: #fafafa;
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.container {
  display: table;
  margin: 1em 0;
  width: 100%;
  @include box-sizing();
  @media all and (max-width: 768px) {
    margin: 0;
  }
}
.content {
  width: 100%;
  padding: 0 1em;
  display: table;
}
.frame { 
  @include box-sizing();
  width: 50%;
  display: inline-block;
}
@include keyframes(show) {
  0% {
		opacity: 0;
    top: 50px;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
img[data-src] {
  opacity: 0;
  display: block;
  position: relative;
  @include box-sizing();
  width: calc(100% - 2em);
  margin: 1em auto;
}
img[data-src].show {
  opacity: 1;
  top: 0;
  @include animation(show .8s ease-out);
}