@mixin animation($animations) {
  animation: $animations;
}
@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

$color-alert: #bc0000; // ff6d85
$color-body: #333;
$color-links: #999;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

body {
  font-family: $font-family;
  line-height: 1.5;
}


.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.container {
  display: table;
  position: relative;
  width: 100%;
  input {
    display: none;
    &:checked + .content {
      display: table;
    }
  }
}

.content {
  width: 100%;
  padding: 0 2rem;
  display: none;
  box-sizing: border-box;
  @media all and (max-width: 768px) {
    padding: 0 1rem;
  }
}

img {
  max-width: 100%;
  display: block;
  border: 0;
  opacity: 0;
}
img:not(.initial) {
  transition: opacity 1s;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}
img:not([src]) {
  visibility: hidden;
}